{% load static %}

<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-600">
    <div class="flex justify-center items-center w-screen pt-4"> <!-- Title -->
        <img src="{% static 'assets/Logo.png' %}" alt="Logo" class="h-20 w-20">
        <h1 class="text-3xl font-bold text-white ">
            RoMarketplace
        </h1>
    </div>

    <div class="flex justify-center items-center w-screen pt-4"> <!-- Create portfolio button -->
        <button id="create-portfolio-btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 ml-4">
            Create Portfolio
        </button>
    </div>
    
    <div class="w-screen h-dvh flex justify-center mt-10"> <!-- Disover marketplace -->
        <div id="Product-grid" class="grid grid-cols-3 gap-4 grid-rows 3">
        <!-- Content goes here  -->
            
        </div>
    </div>

    <script src="{% static 'Js/Home.js' %}"></script>
</body>
</html>